/*--------------------------- RESET ------------------------------*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	cursor: url('imagens/cursorlol.cur'), default;
	scroll-behavior: smooth;
	outline: none;
}

a{
	color: inherit;
	text-decoration: none;
}

i{
	cursor: url('imagens/normal.cur'), default !important;
}

body{
	background-color: #f7fafa;
}

form input,
textarea,
select,
option{
	cursor: url('imagens/normal.cur'), default !important;
}

/*--------------------------- Font Family ------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*-------------------------------- Nav | Header ----------------------------------*/

.icones-header{
	font-size: max(20px, 1.5vw);
}

.exit{
	color: #f53d49;
}

header{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
    background-color: rgba(11, 174, 186, 0.1);
    box-shadow: 0px 5px 60px black;
    z-index: 999;
}
.logo a{
	height: 50px;
	display: flex;
	background-size: cover;
	object-fit: cover;
	overflow: hidden;
	padding-left: 40px; 
}
.logo a img{
	cursor: url('imagens/normal.cur'), default !important;
}
.logo > span{
	color: #111111;
}
nav{
	padding: 40px;
}
nav ul{
	display: flex;
}
nav ul li{
	margin: 5px;
	padding: 5px;
	color: #e5e5e5;
	list-style: none;
	cursor: url('imagens/normal.cur'), default !important;
}
nav ul li img{
	max-height: 21px;
	color: white;
}
nav ul li:hover{
	cursor: pointer;
	color: white;
}
.exit{
	color: #f02936;
}
.exit:hover{
	color: #ff0011;
	border-bottom: 1px dotted .ff0011;
}

/*--------------------------- First Section ------------------------------*/

#first-section{
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh; 
	background: url('imagens/fundoCloudHtml.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

#first-section img{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
	max-width: 90%;
	pointer-events: none;
}

/*---------------------------- Upload button ---------------------------------*/

#btn-first-section{
	position: absolute;
	display: flex;
	width: 250px;
	height: 50px;
	border-radius: 20px;
	border: none;
	background-color: rgba(54, 128, 126, 0.5); 
	left: 50%;
	bottom: 40px;
	transform: translateX(-50%);
	box-shadow: 0px 0px 15px black;
	cursor: url('imagens/normal.cur'), default !important; 
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 1;
	transition: 1s;
}

#btn-first-section:hover{
	background-color: rgba(54, 128, 126, 0.7); 
}

/*---------------------------- Text Space - Upload button ---------------------------------*/

#btn-first-section #text-btn-first-section{
	position: relative;
	display: flex;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

/*---------------------------- Text - Upload button ---------------------------------*/

#btn-first-section #text-btn-first-section p{
	font-family: 'Poppins', sans-serif;
	font-size: max(20px, 1.5vw);
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	color: #354040;
	padding-left: 15px;
	pointer-events: none;
}

/*---------------------------- Icon Space - Upload button ---------------------------------*/

#btn-first-section #icon-btn-first-section{
	position: relative;
	display: flex;
	width: 30%;
	height: 100%;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

/*---------------------------- Icon - Upload button ---------------------------------*/

#btn-first-section #icon-btn-first-section i{
	font-size: max(25px, 2vw);
	color: #65d651;
	pointer-events: none;
}

/*---------------------------- Second Section ---------------------------------*/

.second-section:nth-child(odd){
	position: relative;
	display: flex;
	width: 100%;
	height: 80vh;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.second-section:nth-child(even){
	position: relative;
	display: flex;
	width: 100%;
	height: 80vh;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.second-section:nth-child(even){
	background-color: #f7fafa;
}

.second-section:nth-child(odd){
	background-color: #1a1c1c;
}

.tss2{
	color: white;
}

.second-section .base-content-second-section{
	position: relative;
	display: flex;
	width: 40%;
	min-width: 340px;
	height: 90%;
	flex-wrap: wrap;
	overflow: hidden;
}

.second-section .base-content-second-section .title-second-section{
	position: relative;
	display: flex;
	width: 100%;
	height: auto;
	min-height: 15%;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: max(20px, 2vw);
	font-weight: 700;
	letter-spacing: 1px;
}

.second-section .base-content-second-section .text-second-section{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	text-align: center;
	justify-content: center;
	align-items: justify;
	padding: 20px;
	font-size: max(14px, 1.5vw);
}

.second-section .base-2-content-second-section{
	position: relative;
	display: flex;
	width: 40%;
	min-width: 340px;
	height: 90%;
	background-color: cyan;
	flex-wrap: wrap;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 0px 15px black;
}

.second-section .base-2-content-second-section .image-second-section{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	transition: 1s;
}

.iss1{
	background-image: url('imagens/imagem-servidor.jpg');
}
.iss2{
	background-image: url('imagens/imagem-como-utilizar.jpg');
}
.iss3{
	background-image: url('imagens/imagem-tipos-arquivos-aceitos.png');
}
.iss4{
	background-image: url('imagens/imagem-cadastro-projeto.png');
}

/*--------------------------------- Footer ----------------------------------*/

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
	cursor: url('imagens/normal.cur'), default !important;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links{
	position: relative;
	display: flex;
}
.footer-col .social-links a{
	display: flex;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	justify-content: center;
	align-items: center;
	cursor: url('imagens/normal.cur'), default !important;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

#copyright{
	position: relative;
	display: flex;
	width: 100%;
	height: 10vh;
	background-color: #24262b;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #1a1c1c;
}

#copyright p{
	pointer-events: none;
}

/*---------------------------| Button back |----------------------------*/

.fixed-button-back-begin{
	position: fixed;
	display: flex;
	width: 50px;
	height: 50px;
	background-color: rgba(98, 223, 227, 0.5);
	z-index: 998;
	right: 0;
	bottom: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	cursor: url('imagens/normal.cur'), default !important;
}

.fixed-button-back-begin i{
	pointer-events: none;
}

.fixed-button-back-begin:hover{
	background-color: rgba(98, 223, 227, 0.9);
}

/*---------------------------| Loader |------------------------------*/

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------| Tela login |--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');

.base-form-login{
	position: fixed;
	display: none;
	width: 70%;
	height: 90vh;
	background-color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url("imagens/fundo_form_login.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	box-shadow: 0 0 15px black;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.layout-inside-form-login{
	position: relative;
	display: flex;
	width: 80%;
	height: 80%;
	background-color: rgba(122, 104, 103, .3);
	flex-wrap: wrap;
}
.form-login{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}
.form-title-login{
	position: relative;
	display: flex;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: max(5vw, 50px);
	font-family: 'Alegreya Sans SC', sans-serif;
}
.form-input-login{
	position: relative;
	display: flex;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: center;
}
.form-input-login:nth-child(5){
	justify-content: space-around;
}
.input-form-login{
	position: relative;
	display: flex;
	width: 85%;
	height: 70%;
	border-radius: 50px;
	border: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: max(25px);
	transition: 0.5s;
	cursor: url('imagens/normal.cur'), default;
}
.input-form-login:focus{
	transition: 0.5s;
	box-shadow: 0 0 10px black;
	width: 90%;
}
.form-ancoras-login{
	font-family: 'Alegreya Sans SC', sans-serif;
	cursor: url('imagens/normal.cur'), default;
}
.form-ancoras-login i,
.form-ancoras-login a{
	pointer-events: none;
}
.ifl-submit{
	background-color: #9e9493;
	color: #403837;
	cursor: url('imagens/normal.cur'), default;
}
.ifl-submit:hover{
	color: white;
	background-color: #736c6c;
}
.close-base-form-login{
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	z-index: 999;
	border-radius: 50%;
	top: 5px;
	right: 5px;
	justify-content: center;
	align-items: center;
	font-size: max(30px);
	cursor: url('imagens/normal.cur'), default;
}
.form-ancoras-login{
	transition: 1s;
}
.form-ancoras-login:hover{
	transform: scale(1.1);
	transition: 1s;
}
.close-base-form-login:hover{
	border-color: red;
	color: red;
}

/*-----------------------| Tela cadastro |------------------------------*/

.base-form-cadastro{
	position: fixed;
	display: none;
	width: 70%;
	height: 90vh;
	background-color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url("imagens/fundo_form_login.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	box-shadow: 0 0 15px black;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.layout-inside-form-cadastro{
	position: relative;
	display: flex;
	width: 80%;
	height: 100%;
	background-color: rgba(122, 104, 103, .3);
	flex-wrap: wrap;
}
.form-title-cadastro{
	position: relative;
	display: flex;
	width: 100%;
	height: 15%;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: max(5vw, 50px);
	font-family: 'Alegreya Sans SC', sans-serif;
}
.form-input-cadastro{
	position: relative;
	display: flex;
	width: 100%;
	height: 15%;
	justify-content: center;
	align-items: center;
}
.form-input-cadastro:nth-child(5){
	justify-content: space-around;
}
.input-form-cadastro{
	position: relative;
	display: flex;
	width: 85%;
	height: 70%;
	border-radius: 50px;
	border: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: max(25px);
	transition: 0.5s;
}
.input-form-cadastro:focus{
	transition: 0.5s;
	box-shadow: 0 0 10px black;
	width: 90%;
}
.form-ancoras-cadastro{
	font-family: 'Alegreya Sans SC', sans-serif;
}
.ifl-submit-cadastro{
	background-color: #9e9493;
	color: #403837;
	cursor: pointer;
}
.ifl-submit-cadastro:hover{
	color: white;
	background-color: #736c6c;
}
.ifl-submit-cadastro:hover ~ i{
	background-color: green;
}
.close-base-form-cadastro{
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	z-index: 999;
	border-radius: 50%;
	top: 5px;
	right: 5px;
	justify-content: center;
	align-items: center;
	font-size: max(30px);
	cursor: pointer;
}
.close-base-form-cadastro:hover{
	border-color: red;
	color: red;
}
.recaptcha-place{
	position: relative;
	display: flex;
	width: 100%;
	height: 10%;
	background-color: blue;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}
.form-cadastro{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}

/*------------------------| Tela relatar bug |------------------------*/

.base-form-relatar-bug{
	position: fixed;
	display: none;
	width: 70%;
	height: 90vh;
	background-color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url("imagens/fundo_form_login.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	box-shadow: 0 0 15px black;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.layout-inside-form-relatar-bug{
	position: relative;
	display: flex;
	width: 80%;
	height: 100%;
	background-color: rgba(122, 104, 103, .3);
	flex-wrap: wrap;
}
.form-title-relatar-bug{
	position: relative;
	display: flex;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: max(5vw, 50px);
	font-family: 'Alegreya Sans SC', sans-serif;
}
.campos-relatar-bug{
	position: relative;
	display: flex;
	width: 100%;
	height: 20%;
	background-color: transparent;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.close-base-form-relatar-bug{
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	z-index: 999;
	border-radius: 50%;
	top: 5px;
	right: 5px;
	justify-content: center;
	align-items: center;
	font-size: max(30px);
	cursor: pointer;
}
.close-base-form-relatar-bug:hover{
	border-color: red;
	color: red;
}
.form-relatar-bug{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}
#navegador-relatar-bug{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	text-align: center;
	text-align-last: center;
	justify-content: center;
	align-items: center;
	font-size: max(2vw, 20px);
	background-color: transparent;
	border: none;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
#navegador-relatar-bug option{
	background-color: black;
	color: blue;
	font-size: 30px;
	text-align: center;
	text-align-last: center;
}
.campo-range1-relatar-bug{
	position: relative;
	display: flex;
	width: 30%;
	height: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.campo-range1-relatar-bug img{
	height: 100%;
}
.campo-range2-relatar-bug{
	position: relative;
	display: flex;
	width: 40%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.campo-range2-relatar-bug input{
	cursor: url('imagens/normal.cur'), default !important;
}
.resumo-relatar-bug{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	text-align-last: center;
	text-align: center;
	background-color: transparent;
	color: black;
	border: none;
	border-top: 1px solid grey;
	font-size: max(1.5vw, 20px);
}
textarea{
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	padding: 10px 10px;
	background-color: transparent;
	border: none;
	border-top: 1px solid grey;
	resize: none;
	font-size: max(1.5vw, 20px);
}
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

.crb1{
	height: 10% !important;
	border: none;
	border-bottom: 1px solid grey;
}
.crb2{
	height: 30% !important;
}
.send-form-relatar-bug{
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 5px;
	right: 5px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	font-size: max(25px);
	cursor: url('imagens/normal.cur'), default !important;
	border: none;
}
.send-form-relatar-bug:hover{
	background-color: rgba(0, 0, 0, 1.0);
	color: white;
}
/*----------------------------| Tela Erro |-----------------------------*/
.base-info-erro{
	position: fixed;
	display: none;
	width: 50%;
	height: 50vh;
	background-color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	background-image: url("imagens/fundo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	box-shadow: 0 0 15px black;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 999;
}
.base-info-erro img{
	height: auto;
}
.btn-close-info-erro{
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	top: 5px;
	right: 5px;
	border: 1px solid black;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	cursor: pointer;
}
.btn-close-info-erro:hover{
	color: red;
	border-color: red;
}

/*------------------------| Mobile |-----------------------------*/

@media (max-width: 768px){
	.base-content-second-section{
		height: 45% !important;
		width: 100% !important;
	}

	.base-2-content-second-section{
		height: 45% !important;
		width: 85% !important;
	}

	.box-transition-sections{
		display: none;
	}

	nav{
		display: none;
	}

	.menu-toggle{
		position: fixed;
		top: 0;
		right: 0;
		width: 40px;
		margin-top: 12px;
		margin-right: 20px;
		cursor: url('imagens/normal.cur'), default !important;
		z-index: 999;
	}

	header.on{
		position: fixed;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: unset;
		background-color: rgba(0, 0, 0, 0.9);
	}

		nav.on{
		align-self: center;
		display: flex;
	}

		ul{
		text-align: center;
		flex-direction: column;
	}

	.contact-toggle, .about-toggle, .help-toggle{
		background-color: #e5e5e5;
		height: 5px;
		width: 100%;
		margin: 5px;
	}

	.footer-col{
    width: 50%;
    margin-bottom: 30px;
	}

	.footer-col .social-links{
		justify-content: center;
	}

	.base-form-login{
		width: 90%;
	}

	.base-form-cadastro{
		width: 90%;
	}

	.base-form-relatar-bug{
		width: 90%;
	}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
  .footer-col .social-links{
  	justify-content: center;
	}

}